@section Styles{

}

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createRuleModal">Create Rule</button>

<div class="container-fluid">
    <h3>Rules</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table id="RulesTable" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test Rule</td>
                        <td><button id="Edit_0" class="btn btn-default">Edit</button>&nbsp;<button id="Test_0" class="btn btn-secondary">Test</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="createRuleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Rule</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input id="Name" type="text" class="form-control" autofocus data-bind="value: Name" />
                </div>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-bind="click: AddElement">Add Element</button>
                    </div>
                </div>
                <div data-bind="visible: Elements().length > 0">
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Expression</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Elements">
                            <tr>
                                <td>
                                    <select data-bind="options: Types, value: Type, optionsValue: 'Key', optionsText: 'Key', event: { change: TypeChanged }" class="form-control" style="min-width: 125px;"></select>
                                </td>
                                <td>
                                    <div data-bind="template: Type"></div>
                                </td>
                                <td><button type="button" class="close" data-bind="click: function(data) { $root.RemoveElement(data) }">&times;</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Type</th>
                                <th>Expression</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" id="clearRule">Clear</button>
                <button type="button" class="btn btn-info pull-right" id="testRule">Test</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="testRuleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Test Rule</h4>
            </div>
            <div class="modal-body">
                <div id="alertArea">
                    
                </div>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-bind="click: AddElement">Add Variable</button>
                    </div>
                </div>
                <div data-bind="visible: Elements().length > 0">
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Expression</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Elements">
                            <tr>
                                <td style="padding-right: 5px;">
                                    <input id="ElementName" type="text" data-bind="value: Name" class="form-control" />
                                </td>
                                <td style="width:auto;">
                                    <label style="width: 100%;margin-top: 7.5px;text-align:center;" class="control-label">=</label>
                                </td>
                                <td>
                                    <input data-bind="value: Value" class="form-control" />
                                </td>
                                <td><button type="button" class="close" data-bind="click: function(data) { $root.RemoveElement(data) }">&times;</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Type</th>
                                <th>Expression</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="backRule" class="btn btn-default pull-left">Back</button>

                <button type="button" id="saveRule" class="btn btn-success pull-right disabled">Save</button>
                <button type="button" class="btn btn-info pull-right" id="testRuleContext">Test</button>
            </div>
        </div>
    </div>
</div>

<script id="Operator" type="text/html">
    <select data-bind="options: Operators, value: Operator, optionsValue: 'Key', optionsText: 'Value'" class="form-control"></select>
</script>

<script id="Proposition" type="text/html">
    <table style="width: 100%;">
        <tr>
            <td style="padding-right: 5px;">
                <input id="ElementName" type="text" data-bind="value: Name" class="form-control" />
            </td>
            <td style="padding-right: 5px;">
                <select data-bind="options: Conditions, value: Condition, optionsValue: 'Key', optionsText: 'Value'" class="form-control" style="min-width: 70px;"></select>
            </td>
            <td>
                <select data-bind="value: Value" class="form-control"><option value="false">False</option><option value="true">True</option></select>
            </td>
        </tr>
    </table>
</script>

<script id="Variable" type="text/html">
    <table style="width: 100%;">
        <tr>
            <td style="padding-right: 5px;">
                <input id="ElementName" type="text" data-bind="value: Name" class="form-control" />
            </td>
            <td style="padding-right: 5px;">
                <select data-bind="options: Conditions, value: Condition, optionsValue: 'Key', optionsText: 'Value'" class="form-control" style="min-width: 70px;"></select>
            </td>
            <td>
                <input data-bind="value: Value" class="form-control" />
            </td>
        </tr>
    </table>
</script>



@section Scripts{
    <script src="~/src/app.js"></script>
}