@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 cold-sm-3 col-xs-3">This is where the good shit happens.</div>
    </div>
</div>


@section Scripts{ 
    <script src="~/src/app.js"></script>
}